@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #070b16;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6c63ff;
  border-radius: 10px;
}

button,
a,
[role="button"] {
  cursor: pointer;
}